<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM creation</title>
</head>
<body>
    Yo! Welcome to VM creation software :)
    <br/><br/>
    <form action="/newRequest" method="POST">
    Name:<input type="text" name="name"/>
    <br/><br/>
    VM-Name:<input type="text" name="vmName"/>
    <br/><br/>
    RAM:<input type="number" name="ram"/>
    <br/><br/>
        DiskSize:<input type="text" name="diskSize"/>
    <br/><br/>
        <input type="submit"/>
    </form>
</body>
</html>